<section class="example-section">
  <mat-checkbox class="example-margin" (change)="setAllTree($event.checked)">Select All</mat-checkbox>
</section>
<hr>
<section class="example-section" *ngFor="let tsk of task let i = index" [value]="i">
  <span class="example-list-section">
    <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
                  (change)="setAll($event.checked, i)">
      <div style="display: flex; align-items: center">
        <img src="assets/image-icon/excel-selection.bmp">
        <div style="font-weight: 700; white-space: normal; line-height: 13px; margin-left: 10px;" (click)="onClickFile($event)">
          {{tsk.name}}
        </div>
      </div>

    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of tsk.sheet">
        <mat-checkbox [(ngModel)]="subtask.checked" (ngModelChange)="updateAllComplete()">
          <div style="display: flex; align-items: center">
            <img src="assets/image-icon/file-excel.bmp"/>&nbsp;
            <div style="font-weight: 700; white-space: normal; line-height: 13px; margin-left: 10px;"
                 (click)="onClickSheet($event, tsk.name, subtask.name)">
              {{subtask.name}}
            </div>
          </div>
        </mat-checkbox>
      </li>
    </ul>
  </span>
<hr>
</section>
