input {
  height: 20px;
  width: 100%;
  margin-top: 11px;
  margin-left: -7px;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(244, 244, 244);
}

img {
  width: 10px;
  margin-left: -8px;
  margin-top: -7px;
  opacity: 60%;
}