/* .mt{
  margin-top: 7px
}

.align-right{
  text-align: center;
  width: 50px;
}

.mat-dialog-content
{
  padding-top: 2px;
}
 ::ng-deep .ui-selectable-row {
   height: 40px;
 }

::ng-deep .ui-paginator{
  text-align: right;
}
 */