$md-scor-primary: (
    50 : #e0eef2,
    100 : #b3d4de,
    200 : #80b8c8,
    300 : #4d9bb1,
    400 : #2685a1,
    500 : #007090,
    600 : #67BECD,
    700 : #67BECD,
    800 : #67BECD,
    900 : #67BECD,
    A100 : #91d4ff,
    A200 : #5ec0ff,
    A400 : #2babff,
    A700 : #12a1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-scor-secondary: (
    50 : #e0efed,
    100 : #b3d7d3,
    200 : #80bcb5,
    300 : #4da197,
    400 : #268d81,
    500 : #00796b,
    600 : #007163,
    700 : #006658,
    800 : #005c4e,
    900 : #00493c,
    A100 : #7dffe1,
    A200 : #4affd6,
    A400 : #17ffca,
    A700 : #00fcc3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-scor-secondary-blue: (
  50 : #e8f0f6,
  100 : #c6dbe7,
  200 : #a1c3d8,
  300 : #7baac8,
  400 : #5e98bc,
  500 : #4286b0,
  600 : #3c7ea9,
  700 : #3373a0,
  800 : #2b6997,
  900 : #1d5687,
  A100 : #c2e1ff,
  A200 : #8fc8ff,
  A400 : #5cafff,
  A700 : #42a2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-scor-pastelli: (
    50 : #e1e9f4,
    100 : #b5c8e4,
    200 : #83a3d3,
    300 : #517ec1,
    400 : #2c63b3,
    500 : #0747a6,
    600 : #06409e,
    700 : #053795,
    800 : #042f8b,
    900 : #02207b,
    A100 : #a8b8ff,
    A200 : #758eff,
    A400 : #4263ff,
    A700 : #294eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$somewhat-like-google:(
    50 : #eef5fd,
    100 : #d5e5f9,
    200 : #b9d4f6,
    300 : #9dc2f2,
    400 : #88b5ef,
    500 : #0292AB,
    600 : #6ba0ea,
    700 : #6097e7,
    800 : #568de4,
    900 : #437ddf,
    A100 : #ffffff,
    A200 : #fefeff,
    A400 : #cbddff,
    A700 : #b2cdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$anms-primary: mat-palette($md-scor-primary, 800, 300, 900);
$anms-accent: mat-palette($somewhat-like-google);
$anms-warn: mat-palette($mat-pink, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
