<div class="center-buttons">
  <span class="ms-1"><i class="fas fa-pen" (click)="invokeEditMethod($event)" style="color: #969696"></i></span>
  &nbsp;
  <span class="ms-1"><i class="fas fa-globe-americas" (click)="invokeGeocodeMethod()"  style="color: #969696"></i></span>
  &nbsp;
    <span class="ms-1"><i><img src="assets/icons/comment-icon.png" alt="image" (click)="showComment()" style="width: 13px; opacity: 50%" /></i></span>
    <!-- <span class="ms-1"><i><img src="assets/icons/comment-icon.png" alt="image" (click)="showModal()" style="width: 13px; opacity: 50%" /></i></span> -->
  &nbsp;
</div>
<nz-modal
      [(nzVisible)]="isVisibleComment"
      [nzTitle]="modalTitleC"
      [nzContent]="modalContentC"
      [nzFooter]="modalFooterC"
      (nzOnCancel)="handleCancelComment()"
    >
      <ng-template #modalTitleC>Comments</ng-template>

      <ng-template #modalContentC>
        <!-- <p style="color: red;">One or More file are not autorized to upload</p> -->
        <div>
          <textarea nz-input placeholder="Add comments here... " [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </div>
      </ng-template>

      <ng-template #modalFooterC>
        <button nz-button nzType="default" (click)="handleCancelComment()">Cancel</button>
        <button nz-button class="confirm-btn" nzType="primary" (click)="handleOkComment()" [nzLoading]="isConfirmLoading">Save</button>
      </ng-template>
    </nz-modal>
    
<nz-modal [(nzVisible)]="isVisible" nzTitle="Delete" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" >
  Are you sure to delete ?
</nz-modal>
