input {
  height: 20px;
  width: 85%;
  margin-top: 11px;
}

img {
  width: 10px;
  margin-left: -8px;
  margin-top: -7px;
}
select {

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 2px;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}

#opt {
  margin-right: 4px;
  width: 20px;
  border-radius: 2px;
  -webkit-appearance: none;
}

.input-field {
  margin-left: -15px;
}