.main-header-title {
  font-size: 13px;
  padding: 10px 15px;
  font-weight: 700;
}

.app-wrapper {
  display: flex;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: 4px solid rgb(28, 96, 124);
  padding: 3px;
  margin: 0 5px 0 20px;
  width: 30%;
  height: calc(100vh - 160px);
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: 4px solid rgb(126, 211, 33);
  margin-right: 15px;
  flex: 1;
  height: calc(100vh - 160px);
}
