.ant-tooltip-inner {
  background-color: #FFF !important;
  color: #000 !important;
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
  border-top-color: #FFF !important;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  border-bottom-color: #FFF !important;
}
