@import '../../../../../styles-variables';

@import '../../../../../styles-variables';

.btn-currency {
  z-index:1;
  position:relative;
  display:inline-block;
  height:21.4px;
  width: 50px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Arial Narrow',
  sans-serif;
}
#select-currency, .btn-currency {
  background-color: white;
  transition-duration: 0.4s;
}
#select-currency {
  margin-left: -1px;
  width: 68px;
  height:21.5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(106, 198, 201);
  position:relative;
  display:inline-block;
  margin-left: -50px;
}
option {
  font-size: 13px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgb(106, 198, 201);
}

#select-currency:hover, .btn-currency:hover{
   background-color:rgb(235, 247, 255);
   color: rgb(12, 171, 177);
   border: 1px solid rgb(106, 198, 201);
}

option:hover {
  background-color: white;
}

.sub-header {
  padding: 5px 14px 0px;
  border-bottom: 0.2px solid #dcdcdc;
  background-color: white;
  /* .accented {
    margin-left: 137px;
  } */
}
::ng-deep .mat-select-arrow {
  color: #0292AB;
}

.excel-button {

  margin: 5px 5px;
  .small-icon {
    height: 31px;
    width: 31px;

    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .small-icon-img {
      height: 100%;

      &:hover {
        height: 90%;
      }
    }

    :hover {
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.2s ease-in-out;
    }

  }
}


.number-font {
  color:#4e4e4e;
  // color:#525ecc;
  // letter-spacing: -0.5px;
  font-size: 12px;
  // font-size: 18px;
  display: inline-block;
  // transform: scale(1, 0.8);
  font-family: Verdana,
  sans-serif;
}

.caracteres-font {
  color: #4e4e4e;
  font-size: 15px;
  // font-size: 21px;
   font-family: 'Tw Cen MT', sans-serif;
  // letter-spacing: 0px;
  // transform: scale(1, 0.9);
  // text-transform: full-width;
  display: inline-block;
}

.font-pipe {
  color: #000;
  font-weight: bold;
  font-size: 22px;
}

::ng-deep .ant-select-selection.ant-select-selection--single {
  border-radius: 0px !important;
}

::ng-deep .svg.ng-tns-c21-3 {
  color: #67BECD;
}

::ng-deep .ant-select-arrow-icon {
  color: blue;
}

::ng-deep .ant-select-selection-selected-value.ng-tns-c22-4.ng-star-inserted {
  color: #0292AB !important;
}

.excel-icon {
  color: green;
  font-size: xx-large;
  margin-left: 5px;
}

.font-icon-medium {
  color: #67BECD;
  font-size: large;
}

.font-icon-medium:hover {
  color: #0292AB;
  font-size: x-large;
}

.active-icon {
  color: blue;
  font-size: x-large;
  font-weight: bold;
}

::ng-deep .ant-select-selection.ant-select-selection--single {
  width: 100%;
  border: none !important;
  border-bottom: blue 1px solid !important;
  color: rgb(43, 43, 255) !important;
}

.ng-tns-c20-3.ng-tns-c22-4.ant-select-selection__rendered {
  padding: 0px !important;
}

::ng-deep ul.nav.nav-tabs {
  padding: 0px !important;
}
